header {
  background: rgb(61, 72, 73);
  text-align: center;
  width: 100vw;
  padding: 20px;
  img {
    height: 80px;
  }
}

main {
  text-align: center;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 20px;
}

@media only screen and (max-width: 500px) {
  header {
    padding: 10px;
    img {
      height: 40px;
    }
  }
  main {
    padding: 5px;
  }
}



